<form class="profile-search-form" [formGroup]="searchForm">

    <label class="tt-input-label">
        <span class="tt-input-label__text">Имя пользователя</span>
        <input type="text" formControlName="firstName" class=" medium-text tt-form-input">
    </label>


    <label class="tt-input-label">
        <span class="tt-input-label__text">Фамилия</span>
        <input type="text" formControlName="lastName" class=" medium-text tt-form-input">
    </label>


    <label class="tt-input-label">
        <span class="tt-input-label__text">Навыки</span>
        <input type="text" formControlName="stack" class=" medium-text tt-form-input">
    </label>

</form>