<header>
    @if (profile$ | async; as profile ){
    <app-profile-header [profile]="profile">

    </app-profile-header>

    }
    @else {Не удалось загрузить}
</header>

<form class="profile-form__wrapper" [formGroup]="form">
    <div class="profile-form">
        <div class="two-columns">
            <label class="tt-input-label">
                <span class="tt-input-label__text">Имя</span>
                <input type="text" formControlName="firstName" class=" medium-text tt-form-input">
            </label>
            <label class="tt-input-label">
                <span class="tt-input-label__text">Фамилия</span>
                <input type="text" formControlName="lastName" class=" medium-text tt-form-input">
            </label>
        </div>
        <label class="tt-input-label">
            <span class="tt-input-label__text">Telegram username</span>
            <input type="text" formControlName="username" class=" medium-text tt-form-input">
        </label>
        <label class="tt-input-label">
            <span class="tt-input-label__text ">О себе</span>
            <textarea formControlName="description" class=" medium-text tt-form-input tt-textarea"></textarea>
        </label>
        <label class="tt-input-label">
            <span class="tt-input-label__text ">Автатар</span>
            <avatar-upload></avatar-upload>
        </label>

        <label class="tt-input-label">
            <span class="tt-input-label__text">Навыки (СТЭК)</span>
            <input type="text" formControlName="stack" class=" medium-text tt-form-input">
        </label>
    </div>
    <div>
        <div>
            <button class="btn" (click)="onSave()">Сохранить</button>
        </div>
    </div>
</form>